<% provide(:title, "Sign Up") %>

<%= stylesheet_link_tag "sign-up" %>

<!-- Navigation==========================================-->
<nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "VidEdu", pages_home_path, class: "navbar-brand", :id => "white" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", pages_home_path, class: "page-scroll", :id => "white" %></li>
        <li><%= link_to "About", pages_home_path+"#tf-about", class: "page-scroll", :id => "white" %></li>
        <li><%= link_to "Team", pages_home_path+"#tf-team", class: "page-scroll", :id => "white" %></li>
        <li><%= link_to "Feedback", pages_home_path+"#tf-services", class: "page-scroll", :id => "white" %></li>
        <li><%= link_to "FAQS", pages_home_path+"#tf-clients", class: "page-scroll", :id => "white" %></li>
        <li><%= link_to "Contact", pages_home_path+"#tf-contact", class: "page-scroll", :id => "white" %></li>
          <li><%= link_to "Featured", pages_featured_path,:id => "white" %></li>
          <li><%= link_to "Try it!", new_video_path,:id => "white" %></li>

        <li><%= link_to "Login", new_user_session_path , :id => "white" %></li>
        <li><%= link_to "Signup", new_user_registration_path , :id => "white"%></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div id="tf-team" class="text-center">
  <div class="overlay">
    <div class="container">
      <div class="section-title center">
        <h2><strong>Sign Up!</strong></h2>
        <div class="line">
          <hr>
        </div>
      </div>
      <div class="login">
        <div class="container">
          <div class="form">

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>

            <div class="field">
                <%= f.text_field :firstname,  :placeholder => "First Name", autofocus: true %>
              </div>

              <div class="field">
                <%= f.text_field :lastname,  :placeholder => "Last Name", autofocus: true %>
              </div>

              <div class="field">
                <%= f.text_field :username,  :placeholder => "Username", autofocus: true %>
              </div>

              <div class="field">
                <%= f.email_field :email,  :placeholder => "Email", autofocus: true %>
              </div>

              <% if f.object.password_required? %>
                <div class="field">
                  <%= f.password_field :password, :placeholder => "Password (6 characters minimum)", autocomplete: "off" %>
                </div>

                <div class="field">
                  <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation ", autocomplete: "off" %>
                </div>
              <% end %>

              <div class="actions">
                <%= f.submit "Sign up" ,class: "btn-submit" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <ul class="footer-social">
      <li><%= button_to "Sign up with Facebook", user_omniauth_authorize_path(:facebook), :class => "FacebookButton", :method => :get  %><li>
      <li><%= button_to "Sign up with Twitter", user_omniauth_authorize_path(:twitter), :class => "TwitterButton", :method => :get  %></li>
      <li><%= button_to "Sign Up with Google+", user_omniauth_authorize_path(:google_oauth2), :class => "GoogleButton", :method => :get  %></li>
    </ul>
    <%= render "devise/shared/links" %>
  </div>
</div>
